# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
.env/
.env

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
/media
/staticfiles

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
